<h1>Sign in</h1>

<%= form_for :session, :url => session_path do |form| %>
  <fieldset>
    <%= form.label :email %>
    <%= form.text_field :email, :type => 'email' %>
  </fieldset>

  <fieldset>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </fieldset>

  <fieldset>
    <%= form.submit 'Sign in', class: 'button' %>
  </fieldset>

  <fieldset>
    <%= link_to t('.sign_up'), join_path %>
    <%= link_to t('.forgot_password'), new_password_path, class: 'forgot-password' %>
  </fieldset>
<% end %>