<% if current_user %>
  <% if current_user.vinyls.count < 9 %>
    <div class="add-vinyl">
      <%= form_for @vinyl do |form| %>

        <% @vinyl.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>

        <fieldset><%= form.label :title %>
          <%= form.text_field :title %></fieldset>
        <fieldset><%= form.label :artist %>
          <%= form.text_field :artist %></fieldset>
        <%= form.submit 'Add a Record', class: 'button' %>
      <% end %>
    </div>
  <% end %>

<% else %>
  <div class="add-vinyl">
    <%= link_to 'Sign up', sign_up_path, class: "add-vinyl" %>
  </div>
<% end %>


<% @vinyls.each do |vinyl| %>
  <%= link_to vinyl, class: "vinyl-container" do %>
    <ul class="vinyl-list">
      <li class="artist"><%= vinyl.artist %></li>
      <li class="title"><%= vinyl.title %></li>
    </ul>
    <%= image_tag vinyl.album_art.url(:medium), class: "album-art" %>
  <% end %>
<% end %>

