
<% unless current_user %>
  <div class="add-vinyl">
    <%= link_to '', sign_up_path, class: "add-vinyl" %>
  </div>
<% end %>


<% @vinyls.each do |vinyl| %>
  <%= link_to vinyl, class: "vinyl-container" do %>
    <ul class="vinyl-list">
      <li class="artist"><%= vinyl.artist %></li>
      <li class="title"><%= vinyl.title %></li>
    </ul>
    <%= image_tag vinyl.album_art.url(:medium), class: "album-art" %>
  <% end %>
<% end %>

