<% if current_user %>
  <% if current_user.vinyls.count < 9 %>
    <div class="add-vinyl">
      <%= link_to 'Add a Record', new_vinyl_path %>
      <div class="vinyl-count"><%= current_user.vinyls.count + 1 %></div>
        <%= link_to 'Add a Record', new_vinyl_path %>
    </div>
  <% end %>

<% else %>
  <div class="add-vinyl">
    <%= link_to 'Sign up', sign_up_path, class: "add-vinyl" %>
  </div>
<% end %>


<% @vinyls.each do |vinyl| %>
  <%= link_to vinyl, class: "vinyl-container" do %>
    <ul class="vinyl-list">
      <li class="artist"><%= vinyl.artist %></li>
      <li class="title"><%= vinyl.title %></li>
    </ul>
    <%= image_tag vinyl.album_art.url(:medium), class: "album-art" %>
  <% end %>
<% end %>

