<% @vinyls.each do |vinyl| %>
  <ul>
    <li><%= vinyl.title %></li>
    <li><%= vinyl.artist %></li>
    <li><%= vinyl.genre  %></li>
    <li><%= vinyl.format %></li>
    <li><%= vinyl.rating %></li>
    <li><%= vinyl.user_email %></li>
    <li><%= image_tag vinyl.album_art.url %>
  </ul>
<% end %>

<%= link_to 'Add a Vinyl', new_vinyl_path %>
