<%= form_for @vinyl do |form| %>

  <% @vinyl.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <fieldset><%= form.label :title %>
    <%= form.text_field :title %></fieldset>
  <fieldset><%= form.label :artist %>
    <%= form.text_field :artist %></fieldset>


  <%= form.submit 'Add a Record', class: 'button' %>
<% end %>

<%= link_to "Back to Main", vinyls_path, class: "back-to-main" %>
