<%= form_for @vinyl do |form| %>

  <% @vinyl.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <fieldset><%= form.label :title %>
    <%= form.text_field :title, :required => true %></fieldset>
  <fieldset><%= form.label :artist, :required => true %>
    <%= form.text_field :artist %></fieldset>
  <fieldset><%= form.label :thoughts, :required => true %>
    <%= form.text_area :thoughts %></fieldset>
  <fieldset><%= form.label :album_art %>
    <%= form.file_field :album_art %></fieldset>
  <%= form.submit 'Add a Record', class: 'button' %>
<% end %>
