<p class="notice"><%= notice %></p>

<p>Vinyls lets you share what you love about your favourite records. You can add up to 9 and you can see a list of only the Records you've added by clicking your username in the top right hand corner.</p>

<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :username %><br/>
    <%= form.text_field :username %><br/>
  </p>
  <p>
    <%= form.label :email %><br/>
    <%= form.text_field :email %><br/>
  </p>
  <p>
    <%= form.label :password %><be/>
    <%= form.password_field :password %><br/>
  </p>
  <p>
    <%= form.label :password_confirmation %><br/>
    <%= form.password_field :password_confirmation %><br/>
  </p>
  <%= form.submit 'Join Now', class: 'button' %>
<% end %>


