<div class='username-header'>Selected by <%= link_to @user.username, @user %></div>

<ul class='album-list'>
  <% @selections.each do |selection| %>
    <li>
      <%= link_to selection, class: "album" do %>
        <div class="album-info">
          <span class="album-artist"><%= selection.album.artist %></span>
          <span class="album-title"><%= selection.album.title %></span>
        </div>
        <%= image_tag selection.album.album_art.url(:medium), class: "album-art" %>
      <% end %>
    </li>
  <% end %>
  <% if signed_in? && @user == current_user %>
    <% if current_user.selections.count < 9 %>
      <li>      
        <div class="add-album">
          <%= link_to '', new_selection_path %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>


