<% @user.vinyls.each do |vinyl| %>
  <%= link_to vinyl, class: "vinyl-container" do %>
    <ul class="vinyl-list">
      <li class="artist"><%= vinyl.artist %></li>
      <li class="title"><%= vinyl.title %></li>
    </ul>
    <%= image_tag vinyl.album_art.url(:medium), class: "album-art" %>
  <% end %>
<% end %>

<% if @user.vinyls.count < 9 %>
  <%= link_to 'Add a Record', new_vinyl_path, class: "add-vinyl" %>
<% end %>



