<div class='username-header'>Selected by <%= link_to @user.username, @user %></div>

<div class="selections">
  <% @selections.each do |selection| %>
    <%= link_to selection, class: 'selection' do %>
      <div class="selection-album-details">
        <div class="selection-album-artist"><%= selection.album.artist %></div>
        <div class="selection-album-title"><%= selection.album.title %></div>
      </div>
      <%= image_tag selection.album.album_art.url(:thumb), class: "selection-album-thumb" %>

    <% end %>
  <% end %>
</div>
