<% if current_user.id == @user.id %>
  <% if @user.vinyls.count < 9 %>
    <div class="add-vinyl">
    <div class="vinyl-count"><%= current_user.vinyls.count + 1 %></div>
      <%= link_to 'Add a Record', new_vinyl_path %>
    </div>
  <% end %>

<% else %>

<div class="username username-header">
  <%= link_to @user.username, @user %>
</div>
<span>
<% end %>

<% @user.vinyls.each do |vinyl| %>
  <%= link_to vinyl, class: "vinyl-container" do %>
    <ul class="vinyl-list">
      <li class="artist"><%= vinyl.artist %></li>
      <li class="title"><%= vinyl.title %></li>
    </ul>
    <%= image_tag vinyl.album_art.url(:medium), class: "album-art" %>
  <% end %>
<% end %>





