
<% if current_user %>
  <% if current_user.albums.count < 9 %>
    <div class="add-album">
      <%= link_to '', new_album_path %>
    </div>
  <% end %>
<% else %>
  <div class="add-album">
    <%= link_to '', sign_up_path, class: "add-album" %>
  </div>
<% end %>


<% @albums.each do |album| %>
  <%= link_to album, class: "album-container" do %>
    <ul class="album-list">
      <li class="artist"><%= album.artist %></li>
      <li class="title"><%= album.title %></li>
    </ul>
    <%= image_tag album.album_art.url(:medium), class: "album-art" %>
  <% end %>
<% end %>

