<h1>Selection Logged!</h1>

<div class='username-header'>Selected by <%= link_to @selection.user.username, @selection.user %></div>

<ul class='single-album-list'>
  <li class="artist"><%= @selection.album.artist %></li>
  <li class="title"><%= @selection.album.title %></li>
  <li><%= image_tag @selection.album.album_art.url %></li>  
  <% if @selection.description %>
    <li class="description"><%= @selection.description %></li>
  <% end %>
</ul>




