<div class='username-header'>Selected by <%= link_to @selection.user.username, @selection.user %></div>

<ul class='single-album-list'>
  <li class="artist"><%= @selection.album.artist %></li>
  <li class="title"><%= @selection.album.title %></li>
  <li><%= image_tag @selection.album.album_art.url %></li>  
  <% if @selection.description %>
    <li class="description"><%= @selection.description %></li>
  <% end %>
</ul>

<% if current_user %>
  <% if current_user.id == @selection.user_id %>
    <ul class="edit-links">
      <li><%= link_to "Edit", edit_selection_path, class: "button secondary" %></li>
      <li><%= link_to 'Remove', { action: :destroy, id: @selection.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "button caution" %></li>
      <li><%= link_to 'Back to List', root_path, class: "button" %></li>
    </ul>
  <% else %>
    <%= link_to 'Back to List', root_path, class: "button" %>
  <% end %>
<% end %>




