<p class="notice"><%= notice %></p>

<%= link_to 'Back to List', root_path, class: "button" %>

<ul class="single-album-list">
  <li class="artist"><%= @selection.album.artist %></li>
  <li class="title"><%= @selection.album.title %></li>
  <li class="username"><%= link_to @selection.user.username, @selection.user %></li>
  <li class="thoughts"><%= @selection.description %></li>
  <li><%= image_tag @selection.album.album_art.url %></li>
</ul>

<% if current_user %>
  <% if current_user.id == @selection.user_id %>
    <ul class="edit-links">
      <li><%= link_to "Edit", edit_selection_path, class: "button secondary" %></li>
      <li><%= link_to 'Destroy', { action: :destroy, id: @selection.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "button caution" %></li>
    </ul>
  <% end %>
<% end %>

